.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 3s linear;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s linear;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 5s linear;
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    scale: 1.2;
}

.ex-5-square:active {
    scale: 0.8;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-7-img {
    transition: all 3s linear;
}

.ex-7-img:hover {
    filter: sepia(1);
    rotate: 360deg;
    border: 5px dashed grey;
}

.ex-8-img {
    filter: hue-rotate(90deg);
    filter: invert(9);
    border-radius: 20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    filter: saturate(3);
    box-shadow: 10px 5px 5px red;
    border-radius: 30px;
}

.ex-10-icon {
    font-size: 60px; 
    animation-name: rotation;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* KEYFRAMES */
@keyframes rotation {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 90deg;
    }

    50% {
        rotate: 180deg;
    }

    75% {
        rotate: 270deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes rotation75 {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 90deg;
    }

    50% {
        rotate: 180deg;
    }

    75% {
        rotate: 270deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes translatepos {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(83%);
    }

    50% {
        transform: translateX(166%);
    }

    75% {
        transform: translateX(83%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes translateneg {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: rotation75;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: transform 2s linear;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-top-white {
    animation-name: translatepos;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ex-12-bottom-white {
    animation-name: translateneg;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}